<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geek.dao.SourceFileDao">

    <resultMap id="sourceFile" type="sourceFile">
        <id column="file_id" javaType="Integer" jdbcType="INTEGER" property="fileId"/>
        <result column="file_name" javaType="String" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_path" javaType="String" jdbcType="VARCHAR" property="filePath"/>
        <result column="file_type" javaType="String" jdbcType="VARCHAR" property="fileType"/>
        <result column="file_size" javaType="Integer" jdbcType="INTEGER" property="fileSize"/>
        <result column="file_time" javaType="Date" jdbcType="DATE" property="fileTime"/>
    </resultMap>

    <insert id="insertSourceFile" parameterType="sourceFile">
        INSERT INTO file(file_name,file_path,file_type,file_size,file_time)
        VALUES (#{fileName},#{filePath},#{fileType},#{fileSize},#{fileTime})
    </insert>

    <delete id="deleteSourceFile" parameterType="INTEGER">
        DELETE FROM file WHERE file_id = #{arg0}
    </delete>

    <delete id="deleteSourceFiles" parameterType="List">
        DELETE FROM file WHERE file_id IN
        <foreach collection="fileIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateSourceFile" parameterType="sourceFile">
        UPDATE file
            file_name = #{fileName},
            file_path = #{filePath},
            file_type = #{fileType},
            file_siez = #{fileSize},
            file_time = #{fileTime}
        WHERE file_id = #{fileId}
    </update>

    <select id="selectAllSourceFiles" resultMap="sourceFile">
        SELECT file_id,file_name,file_path,file_type,file_size,file_time
         FROM file
    </select>

    <select id="findSourceFilePath" resultType="String" parameterType="Integer">
        SELECT file_path FROM file WHERE  file_id = #{arg0}
    </select>

    <select id="findSourceFilePaths" resultType="String" parameterType="List">
        SELECT file_path FROM file WHERE  file_id IN
        <foreach collection="fileIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>